<aside class="sidebar">
  <ul>
    <li><a href="{{ url_for('keluhan.index_keluhan') }}">Daftar Keluhan</a></li>
    <li><a href="/terapi">Daftar Terapi</a></li>
    <li><a href="/api/admin/artikel">Daftar Artikel</a></li>
    <li><a href="{{ url_for('histori_user_bp.histori_user_page') }}">Histori User</a></li> <!-- ✅ Link Histori User -->
    <li><a href="{{ url_for('admin_bp.profile') }}">Profil Admin</a></li>
    <li><a href="{{ url_for('admin_bp.logout') }}">Logout</a></li>
  </ul>
</aside>
